.search-box-container {
  position: absolute;
  z-index: 1;
  top: 0;
  margin: 8px 0 8px 8px;
}

.search-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.search-box > * {
  margin: 4px;
}

@media only screen and (min-width: 420px) {
  .search-box {
    flex-direction: row;
  }
}
